$baseFont: "Playfair Display", serif;
$headingsFont: "Oswald", sans-serif;
$baseFontColour: #000000;
$headingsColour: #ffffff;

$lightGrey: #808080;
$darkGrey: #4c4c4c;
$seaGreen: #63a69f;
$footerBlack: #2f3035;


// Icons
// <i class="fa fa-magic"></i>
// <i class="fa fa-code"></i>
// <i class="fa fa-bolt"></i>
// <i class="fa fa-mobile"></i>
// <i class="fa fa-camera"></i>
// <i class="fa fa-video-camera"></i>
// <i class="fa fa-picture-o"></i>
// <i class="fa fa-eye"></i>
// <i class="fa fa-bullhorn"></i>
// <i class="fa fa-facebook"></i>
// <i class="fa fa-twitter"></i>
// <i class="fa fa-instagram"></i>
// <i class="fa fa-dribbble"></i>
// <i class="fa fa-rss"></i>